body {
    font-family: "Poppins", sans-serif;
    background-color: lightgrey;
}

body a {
    color: black;
    text-decoration: none;
}

.logo {
    /* border-right : 1px solid grey; */
}

.headerContainer {
    display: grid;
    grid-template-columns: 200px auto 200px;
    border-bottom: 1px grey solid;
    margin-top: 0.5em;
}

.headerContainer a {
    border-left : 1px solid grey;
    margin-left: 1em;
    padding : 0 0 0 1em;
}

.buttonsContainer {
    text-align: right;
}

.buttonsContainer span {
    border-left: 1px solid grey;
    padding: 0 20px 0 20px;
}

.contentContainer {
    margin: 3em;
    display: grid;
    grid-template-columns: 35% 65%;
    column-gap: 2em;
}

.titleContainer {
    border-bottom: 1px solid grey;
}

.vignettesContainer {
    border-bottom: 1px solid grey;
    padding-bottom : 2em;
}

.vignette {
    margin-top: 2em;
    background-color: white;
}

.vignetteGridContainer {
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 1em;
}

.vignetteImgContainer {
    text-align : center;
}

.miniVignetteGridContainer {
    display: grid;
    grid-template-columns: 25% 75%;
}

.miniVignetteImgContainer {
    text-align : center;
}

.miniVignetteTextContainer {
    display: grid;
    grid-template-rows: 50% 50%;
    padding: 2em;
}

.miniVignetteTextContainer div {
    margin-bottom: 1em;
}

.miniVignette {
    padding: 2em 0 2em 0;
    border-bottom: 1px solid grey;
}

.aboutContainer {
    margin-top: 2em;
    border-bottom: 1px solid grey;
    padding: 2em 0 2em 0;
}

.aboutContainer div {
    padding : 1em 0 1em 0;
}

.articleGridContainer {
    display: grid;
    grid-template-columns: 75% 25%;
    border-bottom: 1px solid grey;
}
.articleTextGridContainer {
    display: grid;
    grid-template-rows: 50% 50%;
    border-right: 1px solid grey;
}

.articleTextGridContainer div {
    padding-top: 1em;   
}

.article {
    background-color: white;
    padding: 2em;
}

.articleAuthorGridContainer {
    display: grid;
    grid-template-rows: 50% 50%;
    padding: 1em;
}

.articleAuthorLogoGridContainer {
    display: grid;
    grid-template-columns: 75% 25%;
    vertical-align: middle;
    padding: 1em 0 1em 0;
}

.articleAuthorLogoGridContainer div:first-child {
    padding-top: 1em;
}

.articleDescriptionContainer {
    padding: 2em 0 2em 0;
}

.articleDescriptionTextContainer {
    padding: 2em 0 2em 0;
}

.articleButtonsGridContainer {
    display: grid;
    grid-template-columns: 25% auto 35%;
}

.articleButtonsLikeContainer {
    text-align: right;
    display: flex;
}

.articleButtonsLikeContainer div {
    border-left: 1px solid grey;
    padding: 0 1em 0 1em;
}

.articleButtonsLikeContainer div:first-child{
    border: none!important;
}

.articleButtonsLikeContainer div span {
    padding-left: 1em;
}