body {
    font-family: "Poppins", sans-serif;
}

body a {
    color: black;
    text-decoration: none;
}

.logo {
    /* border-right : 1px solid grey; */
}

.headerContainer {
    display: grid;
    grid-template-columns: 200px auto 200px;
    border-bottom: 1px grey solid;
    margin-top: 0.5em;
}

.headerContainer a {
    border-left : 1px solid grey;
    margin-left: 1em;
    padding : 0 0 0 1em;
}

.buttonsContainer {
    text-align: right;
}

.buttonsContainer span {
    border-left: 1px solid grey;
    padding: 0 20px 0 20px;
}